node_modules
.git
.github
.idea
.vscode
.turbo
.cache
coverage
tests
__tests__
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
tsconfig.tsbuildinfo
*.tgz
.env
.env.local
.eslintrc*
.prettierrc*
tsup.config.ts
tsconfig.json
